main {
    margin: 50px 0 80px;
}

img {
    width: 100%;
}

h2,
h5 {
    font-family: 'Montserrat';
}

h5 {
    margin-top: 30px;
    margin-bottom: 0px;
}

p {
    font-family: 'Raleway';
}

.description {
    margin-top: 10px;
}

button {
    font-family: 'Raleway';
    font-weight: 600;
}

.price {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.btn-dark {
    background-color: #b61629;
    border: 1px solid #b61629;
}