<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div *ngIf="article">
                    <div class="row">
                        <div class="col-5">
                            <img src="{{ article.mainImage }}" alt="foto_articulo" />
                        </div>
                        <div class="col-7">
                            <h2>{{ article.name | uppercase }}</h2>
                            <h5>Descripción</h5>
                            <p class="description">{{ article.description }}</p>
                            <h5>Precio</h5>
                            <p class="price">{{ article.price }}€</p>
                            <button class="btn btn-dark btn-block btn-lg" (click)="addToCart()">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>