main {
    margin: 50px 0 80px;
}

strong {
    font-family: 'Montserrat';
}

img {
    margin: 20px 0;
}

h2 {
    font-family: 'Montserrat';
}

h4 {
    font-weight: 600;
    text-align: right;
    margin-top: 1rem;
    font-family: 'Montserrat';
}

button {
    font-family: 'Raleway';
    font-weight: 600;
}

.card-text {
    font-size: 12px;
    font-family: 'Raleway';
}

.price {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    font-family: 'Montserrat';
}

.total-price {
    margin: 0;
}

span.description {
    font-size: 15px;
    padding-right: 10px;
}

.bg-dark {
    background-color: #b61629 !important;
}

.btn-dark {
    background-color: #b61629;
    border: 1px solid #b61629;
}