<main>
    <div class="container">
        <div *ngIf="articlesInCart.length > 0">
            <div class="row" *ngFor="let article of articlesInCart">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="card-body">
                                    <img src="{{ article.mainImage }}" class="card-img" alt="{{ article.name }} image">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card-body">
                                    <h2 class="card-title">{{ article.name }}</h2>
                                    <p class="card-text">{{ article.description }}</p>
                                    <p class="card-text"><strong>Cantidad:</strong> {{ article.quantity }}</p>
                                    <button class="btn btn-dark" (click)="deleteItem(article.id)">Eliminar</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <p class="price">{{ article.price * article.quantity | number : '1.2-2' }}€</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-9 text-white bg-dark text-end">
                                <div class="card-body">
                                    <h4>Precio total del pedido</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card-body">
                                    <p class="price total-price">{{ totalPrice | number : '1.2-2' }}€</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="articlesInCart.length === 0" class="row">
            <h3>No hay artículos en la cesta</h3>
        </div>
    </div>
</main>