<footer class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <div class="card-body">
                    <img src="/assets/img/electro_inv.png" alt="{{ title }}" />
                    <p class="card-text">{{ copyright }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>