a {
    text-decoration: none;
    color: #FFF;
}

h2 {
    font-family: 'Montserrat';
}

h4 {
    font-weight: 600;
    font-family: 'Montserrat';
    margin-top: 0.55rem;
}

h6 {
    font-weight: 600;
    margin-top: 0.90rem;
    font-family: 'Montserrat';
    font-size: 0.95rem;
}

.price {
    text-align: right;
}

img {
    margin: 10%;
    width: auto;
    max-height: 200px;
}

.card {
    margin-bottom: 30px;
}

.card-body {
    background-color: #b61629;
    color: #FFF;
}