<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Lista de Artículos</h2>
                <div class="grid grid-pad">
                    <div class="row">
                        <div class="col-4 container-article" *ngFor="let article of articles">
                            <a routerLink="/detail/{{ article.id }}">
                                <div class="card">
                                    <img class="card-img-top" src="{{ article.mainImage }}" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-7">
                                                <h6 class="card-title">{{ article.name }}</h6>
                                            </div>
                                            <div class="col-5">
                                                <h4 class="card-title price">{{ article.price }}€</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>