<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="/assets/img/electro.png" alt="{{ title | uppercase }}" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/category/1">Televisión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/category/2">Informática</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/category/3">Telefonía móvil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/category/4">Videojuegos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/category/5">Electrodomésticos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/category/10">Otros</a>
                </li>
            </ul>
            <span class="nav-item">
                <a class="nav-link" routerLink="/cart"><i class="bi bi-cart-fill"></i></a>
              </span>
        </div>
    </div>
</nav>